@model AddPostViewModel
@if(User.Identity.IsAuthenticated)
{
    <h2>Add Post</h2>
    <div class="form-horizontal">
        <form method="post" asp-controller="User">
            <div class="form-group">
                <label asp-for="Post.Title"></label>
                <input asp-for="Post.Title" class="form-control" />
                <span asp-validation-for="Post.Title"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.PostContent"></label>
                <textarea style="height: 200px" asp-for="Post.PostContent" class="form-control"></textarea>
                <span asp-validation-for="Post.PostContent"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.ProductId"></label>
                <select asp-for="Post.ProductId" asp-items="@(new SelectList(Model.Products, "ProductId", "Name"))" class = "form-control"></select>
                <span asp-validation-for="Post.ProductId"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.RatingForDevice"></label>
                <input asp-for="Post.RatingForDevice" class="form-control" />
                <span asp-validation-for="Post.RatingForDevice"></span>
            </div>

            <div asp-validation-summary="All"></div>
            <p>
                <button type="submit" asp-action="AddPost" class="btn btn-primary" role="button">Add</button>
            </p>
        </form>
    </div>
}
else{
    <p>You are not logged-in now. Please log-in.</p>
}